In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/keystroke_data_combined.csv')
data.head()

C:\Users\nicol\AppData\Local\Temp\ipykernel_25864\1744520385.py:1: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/keystroke_data_combined.csv')

,UserKey,Date,Timestamp,Hand,HoldTime,Direction,LatencyTime,FlightTime,BirthYear,Gender,Parkinsons,DiagnosisYear,Datetime
0,NMMGWRY6SO,170301,45:42.1,L,187.5,LL,421.9,281.3,1948.0,Male,True,2016,03/01/2017 08:45:42 AM
1,NMMGWRY6SO,170301,45:42.4,L,203.1,LL,281.3,93.8,1948.0,Male,True,2016,03/01/2017 08:45:42 AM
2,NMMGWRY6SO,170301,48:29.0,L,203.1,LL,296.9,125.0,1948.0,Male,True,2016,03/01/2017 08:48:29 AM
3,NMMGWRY6SO,170301,48:29.3,L,218.8,LL,218.8,15.6,1948.0,Male,True,2016,03/01/2017 08:48:29 AM
4,NMMGWRY6SO,170301,48:29.5,R,187.5,LR,250.0,31.3,1948.0,Male,True,2016,03/01/2017 08:48:29 AM

In [3]:
data.dtypes

UserKey           object
Date               int64
Timestamp         object
Hand              object
HoldTime         float64
Direction         object
LatencyTime      float64
FlightTime       float64
BirthYear        float64
Gender            object
Parkinsons        object
DiagnosisYear     object
Datetime          object
dtype: object

In [4]:
data[~data['Parkinsons'].apply(lambda x: isinstance(x, bool))]

,UserKey,Date,Timestamp,Hand,HoldTime,Direction,LatencyTime,FlightTime,BirthYear,Gender,Parkinsons,DiagnosisYear,Datetime
156344,PESPWEVTGF,160818,53:08.0,R,62.5,RR,375.0,250.0,NaN,NaN,NaN,NaN,08/18/2016 07:53:08 AM
156345,PESPWEVTGF,160818,53:08.4,R,60.5,RR,375.0,312.5,NaN,NaN,NaN,NaN,08/18/2016 07:53:08 AM
156346,PESPWEVTGF,160818,53:08.8,L,140.6,RL,357.4,296.9,NaN,NaN,NaN,NaN,08/18/2016 07:53:09 AM
156347,PESPWEVTGF,160818,53:09.0,L,78.1,LL,296.9,156.3,NaN,NaN,NaN,NaN,08/18/2016 07:53:09 AM
156348,PESPWEVTGF,160818,53:11.8,L,60.5,LL,421.9,375.0,NaN,NaN,NaN,NaN,08/18/2016 07:53:12 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
973098,PHOPRDDRXM,160913,10:44.6,S,128.9,LS,664.1,550.8,NaN,NaN,NaN,NaN,09/13/2016 06:10:45 PM
973099,PHOPRDDRXM,160913,10:46.4,L,113.3,LL,335.9,214.8,NaN,NaN,NaN,NaN,09/13/2016 06:10:46 PM
973100,PHOPRDDRXM,160913,10:46.9,R,144.5,LR,562.5,449.2,NaN,NaN,NaN,NaN,09/13/2016 06:10:47 PM
973101,PHOPRDDRXM,160913,10:47.5,R,136.7,RR,550.8,406.3,NaN,NaN,NaN,NaN,09/13/2016 06:10:47 PM
973102,PHOPRDDRXM,160913,10:50.2,R,117.2,LR,554.7,441.4,NaN,NaN,NaN,NaN,09/13/2016 06:10:50 PM

In [5]:
data = data.dropna(subset='Parkinsons')
data['Parkinsons'] = data['Parkinsons'].astype(bool)

In [6]:
data.dtypes

UserKey           object
Date               int64
Timestamp         object
Hand              object
HoldTime         float64
Direction         object
LatencyTime      float64
FlightTime       float64
BirthYear        float64
Gender            object
Parkinsons          bool
DiagnosisYear     object
Datetime          object
dtype: object

In [7]:
parkinsons = data[data['Parkinsons']]
parkinsons

,UserKey,Date,Timestamp,Hand,HoldTime,Direction,LatencyTime,FlightTime,BirthYear,Gender,Parkinsons,DiagnosisYear,Datetime
0,NMMGWRY6SO,170301,45:42.1,L,187.5,LL,421.9,281.3,1948.0,Male,True,2016,03/01/2017 08:45:42 AM
1,NMMGWRY6SO,170301,45:42.4,L,203.1,LL,281.3,93.8,1948.0,Male,True,2016,03/01/2017 08:45:42 AM
2,NMMGWRY6SO,170301,48:29.0,L,203.1,LL,296.9,125.0,1948.0,Male,True,2016,03/01/2017 08:48:29 AM
3,NMMGWRY6SO,170301,48:29.3,L,218.8,LL,218.8,15.6,1948.0,Male,True,2016,03/01/2017 08:48:29 AM
4,NMMGWRY6SO,170301,48:29.5,R,187.5,LR,250.0,31.3,1948.0,Male,True,2016,03/01/2017 08:48:29 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043020,LIOUUNGQ8Q,170303,12:29.1,R,105.5,RR,253.9,160.2,1958.0,Male,True,2008,03/03/2017 11:12:29 AM
1043021,LIOUUNGQ8Q,170303,12:53.2,R,105.5,LR,773.4,656.3,1958.0,Male,True,2008,03/03/2017 11:12:53 AM
1043022,LIOUUNGQ8Q,170303,12:53.5,R,128.9,RR,304.7,199.2,1958.0,Male,True,2008,03/03/2017 11:12:54 AM
1043023,LIOUUNGQ8Q,170303,12:54.6,L,85.9,LL,273.4,168.0,1958.0,Male,True,2008,03/03/2017 11:12:55 AM
1043024,LIOUUNGQ8Q,170303,12:55.3,R,117.2,LR,648.4,562.5,1958.0,Male,True,2008,03/03/2017 11:12:55 AM

In [8]:
parkinsons = parkinsons.dropna(subset=['BirthYear', 'Gender', 'Parkinsons', 'DiagnosisYear'])
parkinsons

,UserKey,Date,Timestamp,Hand,HoldTime,Direction,LatencyTime,FlightTime,BirthYear,Gender,Parkinsons,DiagnosisYear,Datetime
0,NMMGWRY6SO,170301,45:42.1,L,187.5,LL,421.9,281.3,1948.0,Male,True,2016,03/01/2017 08:45:42 AM
1,NMMGWRY6SO,170301,45:42.4,L,203.1,LL,281.3,93.8,1948.0,Male,True,2016,03/01/2017 08:45:42 AM
2,NMMGWRY6SO,170301,48:29.0,L,203.1,LL,296.9,125.0,1948.0,Male,True,2016,03/01/2017 08:48:29 AM
3,NMMGWRY6SO,170301,48:29.3,L,218.8,LL,218.8,15.6,1948.0,Male,True,2016,03/01/2017 08:48:29 AM
4,NMMGWRY6SO,170301,48:29.5,R,187.5,LR,250.0,31.3,1948.0,Male,True,2016,03/01/2017 08:48:29 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043020,LIOUUNGQ8Q,170303,12:29.1,R,105.5,RR,253.9,160.2,1958.0,Male,True,2008,03/03/2017 11:12:29 AM
1043021,LIOUUNGQ8Q,170303,12:53.2,R,105.5,LR,773.4,656.3,1958.0,Male,True,2008,03/03/2017 11:12:53 AM
1043022,LIOUUNGQ8Q,170303,12:53.5,R,128.9,RR,304.7,199.2,1958.0,Male,True,2008,03/03/2017 11:12:54 AM
1043023,LIOUUNGQ8Q,170303,12:54.6,L,85.9,LL,273.4,168.0,1958.0,Male,True,2008,03/03/2017 11:12:55 AM
1043024,LIOUUNGQ8Q,170303,12:55.3,R,117.2,LR,648.4,562.5,1958.0,Male,True,2008,03/03/2017 11:12:55 AM

In [9]:
parkinsons['DiagnosisYear'] = parkinsons['DiagnosisYear'].astype(int)
parkinsons['BirthYear'] = parkinsons['BirthYear'].astype(int)
parkinsons['Gender'] = parkinsons['Gender'].astype(str)
parkinsons['current_year'] = parkinsons['Date'] // 10000 + 2000

C:\Users\nicol\AppData\Local\Temp\ipykernel_25864\2190065597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parkinsons['DiagnosisYear'] = parkinsons['DiagnosisYear'].astype(int)
C:\Users\nicol\AppData\Local\Temp\ipykernel_25864\2190065597.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parkinsons['BirthYear'] = parkinsons['BirthYear'].astype(int)
C:\Users\nicol\AppData\Local\Temp\ipykernel_25864\2190065597.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parkinsons['Gender'] = parkinsons['Gender'].astype(str)
C:\Users\nicol\AppData\Local\Temp\ipykernel_25864\2190065597.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parkinsons['current_year'] = parkinsons['Date'] // 10000 + 2000

In [34]:
averages = parkinsons.groupby(['UserKey', 'BirthYear', 'Gender', 'Parkinsons', 'DiagnosisYear', 'current_year', 'Direction'])[['LatencyTime']].median()

In [35]:
averages.loc['5USOYSDCXB']

                                                                  LatencyTime
BirthYear Gender Parkinsons DiagnosisYear current_year Direction
1941      Male   True       2017          2017         LL              175.80
                                                       LR              125.00
                                                       LS              125.00
                                                       RL              125.00
                                                       RR              187.50
                                                       RS              156.30
                                                       SL              140.60
                                                       SR              156.30
                                                       SS              210.95

In [36]:
for user in averages.reset_index().UserKey.unique():
    if averages.loc[user].shape[0] == 9:
        print(user, averages.loc[user].reset_index().set_index('Direction')['LatencyTime'].to_dict())

5USOYSDCXB {'LL': 175.8, 'LR': 125.0, 'LS': 125.0, 'RL': 125.0, 'RR': 187.5, 'RS': 156.3, 'SL': 140.6, 'SR': 156.3, 'SS': 210.95}
8TEUUGQBYB {'LL': 312.5, 'LR': 402.3, 'LS': 382.8, 'RL': 429.7, 'RR': 281.3, 'RS': 390.6, 'SL': 406.3, 'SR': 426.8, 'SS': 217.8}
E0TBSMYHQI {'LL': 312.5, 'LR': 320.3, 'LS': 363.29999999999995, 'RL': 421.9, 'RR': 335.9, 'RS': 382.8, 'SL': 382.8, 'SR': 398.4, 'SS': 179.7}
I3U47MF5UF {'LL': 222.7, 'LR': 148.4, 'LS': 154.3, 'RL': 171.9, 'RR': 187.5, 'RS': 187.5, 'SL': 128.9, 'SR': 148.4, 'SS': 250.0}
IDZHIUK2W2 {'LL': 205.05, 'LR': 156.3, 'LS': 191.4, 'RL': 175.8, 'RR': 214.8, 'RS': 289.1, 'SL': 199.2, 'SR': 234.4, 'SS': 589.8}
JHBOKKHOQW {'LL': 285.2, 'LR': 230.5, 'LS': 300.8, 'RL': 269.5, 'RR': 269.5, 'RS': 358.0, 'SL': 246.1, 'SR': 273.4, 'SS': 199.2}
LIOUUNGQ8Q {'LL': 421.9, 'LR': 503.9, 'LS': 416.05, 'RL': 570.3, 'RR': 464.8, 'RS': 429.7, 'SL': 480.5, 'SR': 593.8, 'SS': 359.4}
LSQWWDXEYO {'LL': 328.1, 'LR': 246.1, 'LS': 300.8, 'RL': 250.0, 'RR': 281.3, 'RS': 335.9, 'SL': 250.0, 'SR': 328.1, 'SS': 224.64999999999998}
QEYNMBJ8T0 {'LL': 253.9, 'LR': 235.35000000000002, 'LS': 230.5, 'RL': 238.3, 'RR': 269.5, 'RS': 250.95, 'SL': 235.35000000000002, 'SR': 300.8, 'SS': 281.3}
SGT8K5GXG0 {'LL': 298.85, 'LR': 335.9, 'LS': 240.2, 'RL': 269.5, 'RR': 359.4, 'RS': 312.5, 'SL': 328.1, 'SR': 429.7, 'SS': 398.45000000000005}
TL2XHTLK1T {'LL': 265.6, 'LR': 418.0, 'LS': 390.6, 'RL': 421.9, 'RR': 310.5, 'RS': 347.7, 'SL': 375.0, 'SR': 359.4, 'SS': 183.6}
UDCY90VKYN {'LL': 203.1, 'LR': 179.7, 'LS': 183.6, 'RL': 152.3, 'RR': 230.5, 'RS': 214.8, 'SL': 257.8, 'SR': 277.3, 'SS': 183.6}
V2SZVYXBOD {'LL': 265.6, 'LR': 265.6, 'LS': 218.8, 'RL': 273.4, 'RR': 328.1, 'RS': 363.3, 'SL': 265.6, 'SR': 375.0, 'SS': 300.8}
VCTVD6LMPK {'LL': 390.6, 'LR': 250.0, 'LS': 375.0, 'RL': 421.9, 'RR': 291.05, 'RS': 484.4, 'SL': 521.45, 'SR': 468.8, 'SS': 203.1}
WDNE1Q9EHT {'LL': 230.5, 'LR': 152.3, 'LS': 203.1, 'RL': 171.9, 'RR': 207.0, 'RS': 246.1, 'SL': 160.2, 'SR': 187.5, 'SS': 169.95}
XWAX2IHF3O {'LL': 132.8, 'LR': 168.0, 'LS': 162.1, 'RL': 136.7, 'RR': 226.6, 'RS': 265.6, 'SL': 162.1, 'SR': 277.3, 'SS': 117.2}

In [40]:
i = 1
for user in averages.reset_index().UserKey.unique():
    user_df = averages.loc[user].reset_index()
    if user_df.shape[0] == 9:
        user_age = user_df['current_year'].max() - user_df['BirthYear'].max()
        user_gender = user_df['Gender'].max()
        print(f'<option> value="{user}">Person {i}, {user_age}{user_gender[0]}</option>')
        i += 1

<option> value="5USOYSDCXB">Person 1, 76M</option>
<option> value="8TEUUGQBYB">Person 2, 81M</option>
<option> value="E0TBSMYHQI">Person 3, 68M</option>
<option> value="I3U47MF5UF">Person 4, 69F</option>
<option> value="IDZHIUK2W2">Person 5, 73F</option>
<option> value="JHBOKKHOQW">Person 6, 77F</option>
<option> value="LIOUUNGQ8Q">Person 7, 59M</option>
<option> value="LSQWWDXEYO">Person 8, 65M</option>
<option> value="QEYNMBJ8T0">Person 9, 77M</option>
<option> value="SGT8K5GXG0">Person 10, 74M</option>
<option> value="TL2XHTLK1T">Person 11, 70M</option>
<option> value="UDCY90VKYN">Person 12, 78M</option>
<option> value="V2SZVYXBOD">Person 13, 75F</option>
<option> value="VCTVD6LMPK">Person 14, 83F</option>
<option> value="WDNE1Q9EHT">Person 15, 75F</option>
<option> value="XWAX2IHF3O">Person 16, 46F</option>